.root {
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.logout {
    display: flex;
    align-items: center;
    gap: 10px;
}

.userName {
    font-size: 18px;
    margin: 0;
    font-style: italic;
    color: rgb(255, 255, 255);
}