.root {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &>p {
        margin: 0;

        &>span {
            padding-right: 5px;
            font-weight: bold;
            color: rgb(97, 97, 97)
        }
    }
}

.formField {
    display: flex;
    flex-direction: column;

    &>input {
        border: 1px solid gray;
        border-radius: 3px;
        padding: 2px 5px;
        height: 20px;
        font-size: 16px;

        &:focus {
            outline: 1px solid rgb(0, 123, 255);
        }
    }

    &>label {
        font-weight: bold;
        color: rgb(97, 97, 97)
    }
}

