.root {
    padding: 5px;
    border: 2px solid grey;
    border-radius: 8px;
}

.restaurant_name {
    margin: 0;
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
}

.restaurant_menu {
    list-style: none;
    padding-left: 20px;
}